DIV {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: crimson;
  box-shadow: 0 -50px 700px -120px teal inset,
              0 -400px 700px -120px yellowgreen inset,
              0 -800px 700px -120px gold inset;
  animation: background 10s infinite alternate;
}

@keyframes background {
  50% {
    background: darkviolet;
    box-shadow: 0 -840px 700px -120px mediumorchid inset,
                0 -810px 700px -120px teal inset,
                0 -880px 700px -120px plum inset;
  }
}

/* Helpers */
BODY {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EEE;
  font-size: 16px;
}
